@tailwind base;
@tailwind components;
@tailwind utilities;

.navigation{
    @apply text-black font-Poppins font-medium text-base
}
.splide__arrow--prev {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.input{
@apply outline-none border border-cor-9F9F9F rounded-lg py-4 font-Poppins font-normal text-base text-cor-9F9F9F p-2
}

.label{
 @apply font-Poppins font-medium text-base text-black
}

.cart-scrool {
  @apply overflow-y-auto max-h-64 px-2 
}

::-webkit-scrollbar {
  width: 10px;
}
.cart-scrool::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track{
background: #d9d9d9;
margin-block: .5em;
border-radius: 100vw;
}

::-webkit-scrollbar-thumb{
  background: #898989;
  border-radius: 30px;

}


.card-father:hover .card-hover{
@apply flex
}

.card-father .card-hover{
@apply hidden
}

.card-father:hover .card-no-hover{
  @apply hidden
}

.card-father .card-no-hover{
  @apply flex
}



